n8n/workflows/ddiscover-webpage-llm-ingestion.json
{
  "name": "DDiscover - Webpage LLM Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "2f9b0f27-18d3-4c47-9d48-3654aa16417a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        -80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "04ffce23-bf9d-41c7-8ce9-52f40814ce70",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const configured = process.env.DDISCOVER_N8N_SOURCES_JSON;\nconst fallbackSources = [\n  {\n    sourceKey: 'objekt-klein-a-events',\n    name: 'Objekt klein a events',\n    sourceType: 'calendar_page',\n    url: 'https://objektkleina.com/events'\n  }\n];\n\nlet sources = fallbackSources;\nif (configured && configured.trim()) {\n  try {\n    sources = JSON.parse(configured);\n  } catch (error) {\n    throw new Error(`DDISCOVER_N8N_SOURCES_JSON is not valid JSON: ${error.message}`);\n  }\n}\n\nif (!Array.isArray(sources) || sources.length === 0) {\n  throw new Error('No ingestion sources configured.');\n}\n\nreturn sources.map((source) => ({ json: source }));"
      },
      "id": "5c83bdaa-6383-4bb8-90fe-b66bd53eef50",
      "name": "Build Source Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return String(html)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst output = [];\nfor (const item of $input.all()) {\n  const source = item.json;\n  if (!source.url) {\n    throw new Error(`Source ${source.name || source.sourceKey || 'unknown'} has no url.`);\n  }\n\n  const html = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: {\n      accept: 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\n      'user-agent': 'DDiscoverBot/0.1 (+https://github.com/royalcaster/ddiscover)'\n    },\n    timeout: 30000,\n    json: false\n  });\n  const text = stripHtml(html).slice(0, 45000);\n  output.push({\n    json: {\n      source,\n      fetchedAt: Date.now(),\n      pageText: text\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "7ed51071-5cb9-4a92-ad9a-07ea3d3ce69e",
      "name": "Fetch And Clean Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const model = process.env.DDISCOVER_OPENAI_MODEL || 'gpt-4.1-mini';\nconst schema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    venues: {\n      type: 'array',\n      items: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          sourceKey: { type: ['string', 'null'] },\n          name: { type: 'string' },\n          addressLine: { type: ['string', 'null'] },\n          city: { type: ['string', 'null'] },\n          websiteUrl: { type: ['string', 'null'] },\n          category: { type: ['string', 'null'] },\n          evidenceSnippets: { type: 'array', items: { type: 'string' } },\n          warnings: { type: 'array', items: { type: 'string' } },\n          confidence: { type: 'number' }\n        },\n        required: ['sourceKey', 'name', 'addressLine', 'city', 'websiteUrl', 'category', 'evidenceSnippets', 'warnings', 'confidence']\n      }\n    },\n    events: {\n      type: 'array',\n      items: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          sourceKey: { type: ['string', 'null'] },\n          title: { type: 'string' },\n          description: { type: ['string', 'null'] },\n          startsAtIso: { type: 'string' },\n          endsAtIso: { type: ['string', 'null'] },\n          venueName: { type: 'string' },\n          venueCandidateSourceKey: { type: ['string', 'null'] },\n          sourceUrl: { type: 'string' },\n          ticketUrl: { type: ['string', 'null'] },\n          imageSourceUrl: { type: ['string', 'null'] },\n          tags: { type: 'array', items: { type: 'string' } },\n          evidenceSnippets: { type: 'array', items: { type: 'string' } },\n          warnings: { type: 'array', items: { type: 'string' } },\n          confidence: { type: 'number' }\n        },\n        required: ['sourceKey', 'title', 'description', 'startsAtIso', 'endsAtIso', 'venueName', 'venueCandidateSourceKey', 'sourceUrl', 'ticketUrl', 'imageSourceUrl', 'tags', 'evidenceSnippets', 'warnings', 'confidence']\n      }\n    }\n  },\n  required: ['venues', 'events']\n};\n\nreturn $input.all().map((item) => ({\n  json: {\n    source: item.json.source,\n    fetchedAt: item.json.fetchedAt,\n    request: {\n      model,\n      messages: [\n        {\n          role: 'system',\n          content: 'You extract nightlife venue and event candidates for DDiscover. Return only structured JSON. Use Europe/Berlin local time. Do not invent events, venues, URLs, coordinates, or ticket links. Include short evidence snippets copied from the page text. Confidence must be 0..1.'\n        },\n        {\n          role: 'user',\n          content: `Source name: ${item.json.source.name}\\nSource URL: ${item.json.source.url}\\nSource type: ${item.json.source.sourceType}\\n\\nExtract future Dresden nightlife events and their venue candidates from this page text. Ignore navigation, cookie banners, historical events, and vague teasers without a date.\\n\\nPAGE TEXT:\\n${item.json.pageText}`\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'ddiscover_ingestion_candidates',\n          strict: true,\n          schema\n        }\n      },\n      temperature: 0.1\n    }\n  }\n}));"
      },
      "id": "f5b71f6f-90b0-4798-a136-af952d9bc57e",
      "name": "Build LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  if (!process.env.OPENAI_API_KEY) {\n    throw new Error('OPENAI_API_KEY is required.');\n  }\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      authorization: `Bearer ${process.env.OPENAI_API_KEY}`,\n      'content-type': 'application/json'\n    },\n    body: item.json.request,\n    json: true,\n    timeout: 60000\n  });\n\n  const content = response?.choices?.[0]?.message?.content;\n  if (!content) {\n    throw new Error('OpenAI response did not contain message content.');\n  }\n\n  let extracted;\n  try {\n    extracted = JSON.parse(content);\n  } catch (error) {\n    throw new Error(`OpenAI response content was not valid JSON: ${error.message}`);\n  }\n\n  output.push({\n    json: {\n      source: item.json.source,\n      fetchedAt: item.json.fetchedAt,\n      extracted\n    }\n  });\n}\nreturn output;"
      },
      "id": "2577f2cf-afdd-4de0-b7f5-c6804bf6b613",
      "name": "Extract Candidates With LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  if (value === null || value === undefined || value === '') return undefined;\n  return value;\n}\n\nfunction toTimestamp(iso, label) {\n  const timestamp = Date.parse(iso);\n  if (!Number.isFinite(timestamp)) {\n    throw new Error(`Invalid ${label}: ${iso}`);\n  }\n  return timestamp;\n}\n\nreturn $input.all().map((item) => {\n  const source = item.json.source;\n  const extracted = item.json.extracted;\n  const venues = (extracted.venues || []).map((venue) => ({\n    sourceKey: clean(venue.sourceKey),\n    name: venue.name,\n    addressLine: clean(venue.addressLine),\n    city: clean(venue.city) || 'Dresden',\n    websiteUrl: clean(venue.websiteUrl),\n    category: clean(venue.category),\n    evidenceSnippets: venue.evidenceSnippets || [],\n    warnings: venue.warnings || [],\n    confidence: venue.confidence\n  }));\n  const events = (extracted.events || []).map((event) => ({\n    sourceKey: clean(event.sourceKey),\n    title: event.title,\n    description: clean(event.description),\n    startsAt: toTimestamp(event.startsAtIso, 'startsAtIso'),\n    endsAt: event.endsAtIso ? toTimestamp(event.endsAtIso, 'endsAtIso') : undefined,\n    venueName: event.venueName,\n    venueCandidateSourceKey: clean(event.venueCandidateSourceKey),\n    sourceUrl: event.sourceUrl || source.url,\n    ticketUrl: clean(event.ticketUrl),\n    imageSourceUrl: clean(event.imageSourceUrl),\n    tags: event.tags || [],\n    evidenceSnippets: event.evidenceSnippets || [],\n    warnings: event.warnings || [],\n    confidence: event.confidence\n  }));\n\n  return {\n    json: {\n      source: {\n        sourceKey: source.sourceKey,\n        name: source.name,\n        sourceType: source.sourceType,\n        url: source.url,\n        fetchedAt: item.json.fetchedAt\n      },\n      venues,\n      events\n    }\n  };\n});"
      },
      "id": "2d75364c-ef95-42b8-a245-53406a46b39d",
      "name": "Normalize Convex Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  if (!process.env.DDISCOVER_CONVEX_SITE_URL) {\n    throw new Error('DDISCOVER_CONVEX_SITE_URL is required, for example https://your-deployment.convex.site');\n  }\n  if (!process.env.DDISCOVER_INGESTION_TOKEN) {\n    throw new Error('DDISCOVER_INGESTION_TOKEN is required.');\n  }\n\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${process.env.DDISCOVER_CONVEX_SITE_URL.replace(/\\/+$/, '')}/ingestion/candidates`,\n    headers: {\n      authorization: `Bearer ${process.env.DDISCOVER_INGESTION_TOKEN}`,\n      'content-type': 'application/json'\n    },\n    body: item.json,\n    json: true,\n    timeout: 30000\n  });\n\n  output.push({\n    json: {\n      source: item.json.source,\n      result\n    }\n  });\n}\nreturn output;"
      },
      "id": "0c37e152-fceb-4126-bd64-3bdbf367c08f",
      "name": "Send Candidates To Convex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        20
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Source Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Build Source Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source Catalog": {
      "main": [
        [
          {
            "node": "Fetch And Clean Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch And Clean Pages": {
      "main": [
        [
          {
            "node": "Build LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Request": {
      "main": [
        [
          {
            "node": "Extract Candidates With LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Candidates With LLM": {
      "main": [
        [
          {
            "node": "Normalize Convex Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Convex Payload": {
      "main": [
        [
          {
            "node": "Send Candidates To Convex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "versionId": "1",
  "meta": {
    "ddiscover": {
      "kind": "webpage-llm-ingestion"
    }
  },
  "tags": [
    {
      "name": "ddiscover"
    },
    {
      "name": "ingestion"
    }
  ]
}
